/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	box-sizing: border-box;
}

main {
	max-width: 960px;
	background-color: #fff;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
	font-size: 16px; 
}

body {
	font-family: `'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix {
  content: "";
  display: block;
  clear: both; 
}

/* Custom Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
	background-color: #fff;
}

.logo {
	float: left;
}

nav {
	float: right;
}

nav li {
	display: inline-block;
	text-align: center;
	padding: 10px;
}

nav li a {
	text-decoration: none;
	color: black;
}


#about {
	width: 75%;
	float: left;
	clear: both;
}

#about h1 {
	padding: 10px;
	color: #4aaaa5;
}

.headshot {
	float: left;
	margin: 0 10px 10px 10px;
}

#connect {
	float: right;
	color: #4aaaa5;
}

.social-icons img {
	max-width: 50px;
}

footer {
	clear: both;
	background-color: #666;
	border-top: 10px solid #4aaaa5;
	text-align: center;
	font-size: .5em;
	height: 50px;
}