/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	box-sizing: border-box;
}

main {
	background-color: #fff;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
	font-size: 16px; 
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777; 
	line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, "Times New Roman", serif;
	color: #4aaaa5;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

footer {
	font-size: .65em;
	color: #BEBEC0;
}

a {
	color: #777; 
}

.button {
	font-size: .8em;
}

/* Colors
––––––––––––––––––––––––––––––––––––––––––––––––––

   * Teal color (used for headings and backgrounds): #4aaaa5
   * Regular font color (used for paragraphs and all text besides the headings): #777
   * Link (hover): #4aaaa5
   * Main header background color: #fff
   * Main header border color: #ccc
   * Footer background color: #666
   * Footer font color: #BEBEC0
   * Main content background color: #fff
   * Main content border color: #ddd
   * HR color: #BEBEC0
   * Form input borders: #D1D1D1
   * Form input borders (focused): #4aaaa5
   * Button: #4aaaa5
   * Button (hover): ##3c8c88

*/


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix {
  content: "";
  display: block;
  clear: both; 
}

/* Custom Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
	background: url("../images/ep_naturalwhite.png");
}

/*** Header ***/

header {
	height: 75px;
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	overflow: hidden;
}

.logo {
	background-color: #4aaaa5;
	padding: 23px;
	float: left;
}

.logo h1 {
	color: #fff;
}

nav ul {
	list-style: none;
	margin-top: 12px;
	padding: 0;
	float: right;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	line-height: 12px;
	text-decoration: none;
	text-align: center;
	border-right: 1px solid #777;
	margin-top: 20px;
	padding: 0 10px;
}

nav li a:hover {
	color: #4aaaa5;
}

nav li:last-child a {
	border-right: 0;
}

/*** Body ***/

#about, #contact, #portfolio, #connect {
	background-color: #fff;
	border: 2px solid #ddd;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

hr {
	border-top: 2px solid #BEBEC0 ;
	width: 98%;
}

#about, #portfolio, #contact {
	width: 650px;
	float: left;
}

#about h2, #portfolio h2, #contact h2 {
	padding: 10px;
}

.headshot {
	margin: 20px 20px 0px 0px;
	float: left;
}

.headshot img {
	max-width: 175px;
}

/*.row {
	margin-top: 20px;
}*/


.gallery {
	max-width: 650px;
	margin: 0 auto;
	padding: 30px 20px;
}

.gallery img {
	opacity: .8;
}

.gallery img:hover {
	opacity: 1;
	transition: opacity .5s;
}

.gallery > div {
	position: relative;
	float: left;
	padding: 10px;
}

.banner {
	width: 260px;
	position: absolute;
	bottom: 30px;
	background-color: rgba(60, 140, 136, 1);
}

.banner h4 {
	color: #fff;
	padding: 8px 0;
	text-align: center;
}

/*
.project {
	height: 200px;
	width: 275px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.project a img {
	position: absolute;
	left: 50%;
	margin-left: -100px;
	z-index: 0;
	opacity: .8;

}

.project > .banner {
	height: 50px;
	width: 100%;
	position: absolute;
	
	left: 0px;
	bottom: 50px;
	background-color: rgba(60, 140, 136, 1);
	z-index: 1;
	overflow: hidden;
}



/*.gallery {
	text-align: center;
}

.gallery img {
	position: relative;
	opacity: .8;
	z-index: 0;
}



.row img:last-child {
	margin-left: 20px;
}

.gallery img:last-child {
	float: left;
	margin-top: 20px;
}





*/
#connect {
	width: 270px;
	float: right;
}

.social-icons {
	text-align: center;
}
.social-icons img {
	max-width: 60px;
	margin: 5px 5px;
}

.social-icons img:hover {
	transform: scale(1.1);
	transition: transform .25s;
}

/*** Form ***/

input[type="email"],
input[type="text"],
textarea,
select {
	height: 30px;
	width: 100%;
  	padding: 6px 10px;
  	border: 1px solid #D1D1D1;
  	border-radius: 4px;
}

textarea {
	height: 150px;
	max-width: 620px;
  	padding-top: 6px;
  	padding-bottom: 6px; 
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus,
select:focus {
  	border: 1px solid #4aaaa5;
  	outline: 0; 
}

/*** Button ***/

.button {
	background-color: #4aaaa5;
	color: #fff;
	border-radius: 4px;
	border: 1px solid #fff;
	cursor: pointer;
  	padding: 10px 20px;
}

.button:hover,
.button:focus {
	background-color: #3c8c88;
	transform: scale(1.1);
	transform-origin: left center;
	transition: transform .25s, background-color .25s;
}

/* Footer */

footer {
	height: 75px;
	text-align: center;
	background-color: #666;
	border-top: 8px solid #4aaaa5;
}

footer p {
	padding: 15px;
}